<h2>Leave Request</h2>

<p>Hello,</p>

<p><b>{{ employeeName }}</b> has submitted a leave request.</p>

<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <td><b>Department</b></td>
    <td>{{ departmentName }}</td>
  </tr>
  <tr>
    <td><b>From</b></td>
    <td>{{ startDate }}</td>
  </tr>
  <tr>
    <td><b>To</b></td>
    <td>{{ endDate }}</td>
  </tr>
</table>

<p>Please login to HR System to review and approve.</p>