<h2>Leave Request Approved</h2>

<p>Hello,</p>

<p><b>{{ employeeName }}</b>'s leave request has been approved.</p>

<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <td><b>From</b></td>
    <td>{{ startDate }}</td>
  </tr>
  <tr>
    <td><b>To</b></td>
    <td>{{ endDate }}</td>
  </tr>
</table>

<p>The leave has been updated in the system.</p>